<ion-view view-title="Local Suggest">
  <ion-content>
    <div >
      <img class="largeCenterImg padding" src="img/lsLogo.jpg">
      <h1 class="text-center dark">Welcome!</h1>
    </div>
  </ion-content>
</ion-view>
