<ion-view view-title="Profile">
  <ion-content>
    <div >
      <img class="centerImg padding" src="img/johnDoe.jpg">
    </div>
      <h3 class="text-center">John Doe</h3>
      <h5 class="text-center">john.doe@email.com</h5>
    <br>
      <p class="padding-left"> Via Caraglio, 97, Torino  </p>
      <p class="padding-left"><a>https://www.airbnb.it/users/show/00000000</a></p>

    <label class="item">
      <button class="button button-block button-positive" type="submit" ng-click="confirmAlert()">Connect</button>
    </label>


  </ion-content>
</ion-view>
