<ion-view view-title="Hosts">
  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchHost">
      </label>
    </div>


    <ion-list>
      <ion-item class="item-icon-right " ng-repeat="host in hosts | filter:searchHost"  href="#/app/hosts/{{host.id}}">
        <div class="item-avatar">
          <img ng-src="{{host.image}}">
          <h2>{{host.firstName}}</h2>
          <p class="subdued">{{host.address}}</p>
        </div>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
