<ion-view view-title="Recommendations" class="bar-energized">
  <ion-nav-title title="Recommendations">
    <h4>Recommendations</h4>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="newRecommendation()">
      <i class="ion-compose icon"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="recommendation in recommendations" href="#/app/recommendations/{{recommendation.id}}">
        <h2>{{recommendation.name}}</h2>
        <h4 class="subdued">{{recommendation.type}}</h4>
        <span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span><span class="ion-ios-star"></span>
        <i class="icon ion-ios-arrow-left"></i>
        <ion-option-button class="button-assertive" ng-click="recommendations.splice($index, 1)">Delete</ion-option-button>
        <ion-option-button class="button-energized" ng-click="edit(recommendation)">Edit</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
