<ion-view view-title="Requests">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right light-bg" ng-repeat="request in requests">

        <div>
          <div>
            <img class="roundImg" ng-src="{{request.image}}">
            <span>{{request.name}}</span>
          </div>

          <div class="icon">
            <a class=" ion-checkmark-circled balanced" href=""></a>
            &nbsp;
            <a class="ion-close-circled assertive" href=""></a>
          </div>
        </div>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
