/* Empty. Add your own CSS if you like */

.centerImg {
  display: block;
  margin: 0 auto;
  width: 40%;
  border-radius:50%;
}

.smallCenterImg {
  display: block;
  margin: 0 auto;
  width: 20%;
  border-radius:50%;
}

.largeCenterImg {
  display: block;
  margin: 0 auto;
  width: 60%;
  border-radius:50%;
  margin-top: 30%;
}
.roundImg {
  width: 20%;
  border-radius:50%;
}

.topM {
  margin-bottom: 50%;
}


.ionic_ratings .icon {
  font-size: 25px;
  padding-bottom: 50px;
}
